<div class='mat-elevation-z4' style="background-color: #ffffff;">
  <div id = "login-box-header">
    <div id = "login-box-header-title">
      Welcome Back!
    </div>
  </div>
  <div id = "content-wrapper">

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="userName" (keyup)="userNameKeyUp($event)" required>
      </mat-form-field>
  

      <mat-form-field appearance="fill" required *ngIf = "!showForgotPassword">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" [type]="'password'" (keyup)="passwordKeyUp($event)" #passwordField required>
      </mat-form-field>

    <button id = "login-button" class="standard-button" mat-raised-button (click)="login()" *ngIf = "!showForgotPassword">
      Login
    </button>
  </div>
</div>
